body
	background linear-gradient(45deg, #1D7431, #1B692D)
	
.game_wrapper {
	width 100%
    height 100%
    position fixed
    top 0
    left 0
    display flex
    align-items center
    align-content center
    justify-content center
}

.start-game_head
	text-align center
	
	h1
		font-family 'Open Sans', sans-serif
		color #fff
		font-size 28px
		
.end-game_head
	text-align center
	
	h1
		font-family 'Open Sans', sans-serif
		color #fff
		font-size 18px
		
.game_start-btn
	cursor pointer
	
.start-game_btn-container
	text-align center
	
	button
		width 144px
		height 42px
		background #FFF
		border-radius 4px
		color #1C7430
		font-family 'Open Sans', sans-serif
		font-size 16px
		font-weight bold
		outline 0
		border none
		transition background-color 0.5s ease-out
		
		&:hover
			cursor pointer
			border 1px solid #FFF
			color #FFF
			background #1C7430
			
	
.game_container
	display flex
	flex-wrap wrap
	width 750px
	justify-content center
	
.block
	padding 0 15px 15px 0
	max-height 150px
	
.card-image 
	height 150px
	min-width 108px
	border none
	cursor pointer
	
.card-hidden 
	visibility hidden
		
.game_start-container
	display flex
	justify-content space-between
	font-size 14px
	color #FFF
	padding 0 20px 20px 8px
	font-family 'Open Sans', sans-serif

   
.end-game_btn-container
	text-align center
	margin-top 40px
	
	button
		width 144px
		height 42px
		background #FFF
		border-radius 4px
		color #1C7430
		font-family 'Open Sans', sans-serif
		font-size 16px
		font-weight bold
		outline 0
		border none
		transition background-color 0.5s ease-out
		
		&:hover
			cursor pointer
			border 1px solid #FFF
			color #FFF
			background #1C7430
				