doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
		link(rel='stylesheet', href='css/index.css')
		title Memory game
	body
		div#app(data-tid="App")

	script(defer, src='js/index.js')

	